.title { text-align: center }

.subtitle { text-align: center;
  color: gray;
  font-size: 18px;
  font-weight: normal;
}

html {
    background: white;
    color: black;
    font: 14px 'Helvetica Neue', Arial, sans-serif;
}
body {
    margin: 2em auto;
    max-width: 760px;
    width: 65%;
}
section {
    clear: both;
    margin-top: 3em;
}
li {
    list-style-type: none;
}
section > ul > li,
header > ul > li {
    list-style-type: none;
    margin-bottom: .5em;
}

.headline-name {
    border-bottom: 1px solid black;
    padding-bottom: .5em;
}

.dates {
  float:right;
}
